# Neon Auth
NEON_AUTH_BASE_URL=
NEON_AUTH_COOKIE_SECRET=

# Database
DATABASE_URL=

# Backblaze B2 (S3-Compatible API)
B2_BUCKET_NAME=
B2_REGION=
B2_ENDPOINT=
B2_KEY_ID=
B2_APPLICATION_KEY=

# Application
NEXT_PUBLIC_APP_URL=

# Encryption
SMTP_ENCRYPTION_KEY=
