-- Rename resumes table to attachments
ALTER TABLE "resumes" RENAME TO "attachments";
ALTER INDEX "resumes_pkey" RENAME TO "attachments_pkey";
ALTER INDEX "resumes_user_id_idx" RENAME TO "attachments_user_id_idx";
ALTER INDEX "idx_resumes_user_id" RENAME TO "idx_attachments_user_id";

-- Rename foreign key constraints for resumes table
ALTER TABLE "campaigns" DROP CONSTRAINT "campaigns_resume_id_fkey";
ALTER TABLE "email_jobs" DROP CONSTRAINT "email_jobs_resume_id_fkey";

-- Rename resume_id columns to attachment_id
ALTER TABLE "campaigns" RENAME COLUMN "resume_id" TO "attachment_id";
ALTER TABLE "email_jobs" RENAME COLUMN "resume_id" TO "attachment_id";

-- Recreate foreign key constraints with new column names
ALTER TABLE "campaigns" ADD CONSTRAINT "campaigns_attachment_id_fkey" FOREIGN KEY ("attachment_id") REFERENCES "attachments"("id") ON UPDATE CASCADE ON DELETE RESTRICT;
ALTER TABLE "email_jobs" ADD CONSTRAINT "email_jobs_attachment_id_fkey" FOREIGN KEY ("attachment_id") REFERENCES "attachments"("id") ON UPDATE CASCADE ON DELETE RESTRICT;
